name: coloros_super_create2
true:
  workflow_dispatch:
    inputs:
      ROM_URL:
        description: Select device code
        required: true
        default: PKG110
        type: choice
        options:
        - OPD2404
        - OPD2413
        - PGEM10
        - PHY110
        - PHY120
        - PJD110
        - PJE110
        - PJF110
        - PJX110
        - PJZ110
        - PKB110
        - PKC110
        - PKG110
        - PKR110
        - PKT110
        - PKX110
        - PLB110
        - PLC110
        - PLF110
        - PLK110
        - PLQ110
        - PLR110
        - PLU110
        - PLY110
        - RMX3800
        - RMX3888
        - RMX5010
        - RMX5060
        - RMX5062
        - RMX5071
        - RMX5080
        - RMX5090
        - RMX5200
        - RMX6688
        - RMX6699
        - RMX8899
        - Custom
      CUSTOM_URL:
        description: Custom
        required: false
        default: ''
      key:
        description: Active Key
        required: true
        default: ''
      trigger:
        description: Trigger name
        required: true
        default: Auto_Build
jobs:
  Auth:
    runs-on: ubuntu-latest
    outputs:
      active: ${{ steps.evaluate.outputs.active }}
    steps:
    - name: Authentication
      id: evaluate
      run: echo "active=${{ github.event.inputs.key == secrets.AUTH_KEY }}" >> $GITHUB_OUTPUT
  Build:
    needs: Auth
    if: ${{ needs.Auth.outputs.active == 'true' }}
    runs-on: ubuntu-latest
    environment: AutoBuild
    steps:
    - name: Test parameter
      run: 'echo "ROM Option: ${{ github.event.inputs.ROM_URL }}"

        echo "Custom Input: ${{ github.event.inputs.CUSTOM_URL }}"

        echo "User: ${{ github.actor }}"

        echo "Server: ${{ github.server_url }}"

        echo "Repo: ${{ github.repository }}"

        echo "Run ID: ${{ github.run_id }}"

        '
    - name: Clean 1
      run: 'docker rmi `docker images -q` || true

        sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/sudo apt/sources.list.d || true

        sudo apt -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php* || true

        sudo apt -y autoremove --purge || true

        sudo apt -y autoclean || true

        sudo apt clean || true

        '
    - name: Clean 2
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 512
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: PREVIEW
        ssh-key: ${{ secrets.CLONEC_KEY }}
        repository: buihien224/colour_erofs_tool
    - name: Setting up
      run: 'sudo apt-get install -y git lz4 wget zip unzip android-sdk-libsparse-utils brotli axel python3-pip zipalign apksigner xmlstarlet aapt p7zip-full device-tree-compiler aria2

        sudo pip3 install ConfigObj

        sudo pip3 install telebot

        '
    - name: Set up VIETSUB
      run: 'cd $GITHUB_WORKSPACE

        echo "Setting Vietnam timezone"

        sudo timedatectl set-timezone Asia/Ho_Chi_Minh

        '
    - name: Set up Rclone
      run: 'cd "$GITHUB_WORKSPACE"

        mkdir -p bin

        aria2c -x 16 -s 16 -j 1 -o bin/rclone1 https://github.com/buihien224/toolbox_notification/releases/download/rclone/rclone1

        chmod +x bin/rclone1

        '
    - name: Download ROM
      run: "set -e\nOPTION=\"${{ github.event.inputs.ROM_URL }}\"\nCUSTOM=\"${{ github.event.inputs.CUSTOM_URL }}\"\nif [ \"$OPTION\" == \"Custom\" ]; then\n  if [ -z \"$CUSTOM\" ]; then\n    echo \"❌ Error: Custom selected but empty URL!\"\n    exit 1\n  fi\n  INPUT=\"$CUSTOM\"\nelse\n  INPUT=\"$OPTION\"\nfi\nLENGTH=${#INPUT}            \nif [ \"$LENGTH\" -gt 10 ]; then\n  echo \"::add-mask::$INPUT\"\n  echo \"Detected Direct URL. Downloading with aria2...\"\n  aria2c -x16 -s16 -k1M --check-certificate=false \"$INPUT\"\nelse\n  echo \"Detected Filename Prefix. Searching cloud...\"              \n  FILE=\"$(./bin/rclone1 --config bin/lsc.conf lsf '1drive1:/Mirror' --files-only --include \"${INPUT}*\" | head -n1)\"\n  if [ -n \"$FILE\" ]; then\n    echo \"✅ Found in OneDrive: $FILE\"\n    SOURCE_PATH=\"1drive1:/Mirror\"\n  else\n    FILE=\"$(./bin/rclone1 --config bin/lsc.conf lsf 'gdrive1:/VS_Stock' --files-only --include \"${INPUT}*\" | head -n1)\"\n    if [ -n \"$FILE\" ]; then\n     \
        \ echo \"✅ Found in GDrive: $FILE\"\n      SOURCE_PATH=\"gdrive1:/VS_Stock\"\n    fi\n  fi\n  if [ -z \"$FILE\" ]; then\n    echo \"❌ Error: File not found in OneDrive or GDrive!\"\n    exit 1\n  fi\n  DIRECT_URL=$(./bin/rclone1 --config bin/lsc.conf link \"$SOURCE_PATH/$FILE\" || true)\n  if [ -n \"$DIRECT_URL\" ]; then\n     echo \"::add-mask::$DIRECT_URL\"\n     echo \"\U0001F680 Link generated! Downloading with aria2...\"\n     aria2c -x16 -s16 -k1M --check-certificate=false -o \"$FILE\" \"$DIRECT_URL\"\n  else\n     echo \"⚠️ No direct link. Falling back to rclone copy...\"\n     ./bin/rclone1 --config bin/lsc.conf copy \"$SOURCE_PATH/$FILE\" . \\\n       --transfers=4 --checkers=8 --multi-thread-streams=16 \\\n       --buffer-size=64M --drive-chunk-size=64M \\\n       --ignore-checksum --no-update-modtime --no-check-dest --progress\n  fi\nfi            \necho \"\U0001F389 Process completed. Content:\"\nls -lh\n"
    - name: Init project
      run: "OPTION=\"${{ github.event.inputs.ROM_URL }}\"\nCUSTOM=\"${{ github.event.inputs.CUSTOM_URL }}\"\nif [ \"$OPTION\" == \"Custom\" ]; then\n  FINAL_INPUT=\"$CUSTOM\"\nelse\n  FINAL_INPUT=\"$OPTION\"\nfi\n\necho \"Passing to Init: $FINAL_INPUT\"\n./bhlnk -i ${{ github.event.inputs.trigger }} \"$FINAL_INPUT\" true\nsudo chmod 777 -R *\n"
    - name: Extract state
      run: "./bhlnk -p extract    \n"
    - name: Patch VS
      run: "./bhlnk -p patchvs     \n"
    - name: Re-create partition
      run: "./bhlnk -p pack \n"
    - name: Set up Rclone (Re-init)
      run: 'cd $GITHUB_WORKSPACE

        mkdir -p bin

        rm -f bin/rclone1

        aria2c -x 16 -s 16 -j 1 -o bin/rclone1 https://github.com/buihien224/toolbox_notification/releases/download/rclone/rclone1

        chmod +x bin/rclone1

        '
    - name: Upload
      run: "./bhlnk -u || exit 0 \necho \"Upload returned 0. Exiting workflow.\"\nexit 1\n"
